{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <!-- fonts-------------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.css' %}">
    <!-- plugin------------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/kamadatepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jgallery.min.css' %}">
    <!-- style-main--------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <!-- start-header -->
    <header class="c-header">
        <!-- logo -->
        <div class="col-lg-3 d-inline-block">
            <div class="logo row d-block text-center">
                <a href="#">
                    <img src="{% static 'images/logo.png' %}" alt="superkala" height="48">
                    <div class="my-8 text-caption">فروشگاه اینترنتی اُکالا</div>
                </a>
            </div>
        </div>
        <!-- end-logo -->
        <!--payment steps-->
        <div class="payment-steps align-items-center">
            <!--item-->
            <a class="payment-steps-item active">
                <div class="payment-steps-item-title">
                    <img src="{% static 'images/cart/download.svg' %}" alt="cart-you" class="img-fluid">
                    <div class="text-caption text-title">سبد خرید شما</div>
                </div>
                <div class="payment-steps-item-separator"></div>
            </a>
            <!--item-->
            <!--item-->
            <a class="payment-steps-item">
                <div class="payment-steps-item-title">
                    <img src="{% static 'images/cart/date.svg' %}" alt="cart-you" class="img-fluid">
                    <div class="text-caption text-title">کِی و کجا؟</div>
                </div>
                <div class="payment-steps-item-separator"></div>
            </a>
            <!--item-->
            <!--item-->
            <a class="payment-steps-item">
                <div class="payment-steps-item-title">
                    <img src="{% static 'images/cart/payment.svg' %}" alt="cart-you" class="img-fluid">
                    <div class="text-caption text-title">نحوه پرداخت</div>
                </div>
                <div class="payment-steps-item-separator"></div>
            </a>
            <!--item-->
            <!--item-->
            <a class="payment-steps-item">
                <div class="payment-steps-item-title">
                    <img src="{% static 'images/cart/order.svg' %}" alt="cart-you" class="img-fluid">
                    <div class="text-caption text-title">تکمیل سفارش</div>
                </div>
            </a>
            <!--item-->
        </div>
        <!--payment steps end-->
    </header>
    <!-- end-header -->
    <!-- content-site -->
    <main>
        <div class="cart-main">
            <div class="d-block">
                <div class="main-container">
                    <div class="col-lg-8 col-md-8 col-xs-12 float-right">
                        <div class="p-content-cart">
                            <div class="cart-title-top h5 mb-3">سبد خرید</div>
                            <div class="card-body">
                                <!--product list-->
                                {% for item in cart %}
                                <div class="cart-item-list pl-3">
                                    <div class="cart-item" data-item-id="{{ item.product.id }}">
                                        <div class="checkout-body">
                                            <button class="quantity-remove remove-from-cart" type="button" data-item-id="{{ item.product.id }}">
                                                <i class="mdi mdi-close"></i>
                                            </button>
                                            <div class="product-thumbnail-img">
                                                <a href="#">
                                                    <img style="width: 100px" src="{{ item.product.images.first.file.url }}" alt="" class="img-fluid">
                                                </a>
                                            </div>
                                            <div class="product-name">{{ item.product.name }}</div>
                                            <div class="offcanvas-required-number-cart">
                                                <div class="required-number before">
                                                    <div class="quantity">
                                                        <input type="number" class="quantity-input" id="item-quantity-{{ item.product.id }}" min="1" max="100" step="1" value="{{ item.quantity }}"><div class="quantity-nav"><div class="quantity-add quantity-button quantity-up" data-item-id="{{ item.product.id }}">+</div><div class="quantity-decrease quantity-button quantity-down" data-item-id="{{ item.product.id }}">-</div></div><div class="quantity-nav">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <del>
                                                    <span>{{ item.product.price }}<span>
                                                        تومان</span>
                                                    </span>
                                                </del>
                                                <ins>
                                                    <span>{{ item.product.new_price }}<span>
                                                        تومان</span>
                                                    </span>
                                                </ins>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                                <!--product list-->
                            </div>
                        </div>
                        <!--back-->
                        <a href="{% url 'shop:product_list' %}" class="btn btn-sm back-to-index">
                            <i class="fa fa-angle-right"></i>
                            بازگشت به سایت و خرید بیشتر
                        </a>
                        <!--back-->
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12 float-left">
                        <div class="p-sidebar-cart">
                            <div class="cart-title-top h5 mb-3">جزئیات خرید</div>
                            {% if cart %}
                            <div class="card-body">
                                <ul class="sidebar-cart-ul">
                                  <li class="sidebar-cart-item">
                                        <span class="title">تعداد اقلام</span>
                                        <span class="dec" id="item-quantity-product">{{ cart.item_count }} عدد </span>
                                    </li>
                                   <li class="sidebar-cart-item">
                                        <span class="title">جمع کل قبل از تخفیف</span>
                                        <span class="dec" id="cart-total-price">{{ cart.get_total_price }} تومان</span>
                                    </li>
                                    <li class="sidebar-cart-item">
                                        <span class="title">سود شما از این خرید</span>
                                        <span class="dec" id="cart-off-price">{{ cart.get_off_price }} تومان</span>
                                    </li>
                                    <li class="sidebar-cart-item mb-3">
                                        <span class="title text-success">جمع کل بعد از تخفیف</span>
                                        <span class="dec text-success" id="cart-total-after-discount">{{ cart.get_final_price }} تومان</span>
                                    </li>
                                    <li class="sidebar-cart-item mb-3">
                                        <span class="title text-danger">مبلغ قابل پرداخت</span>
                                        <span class="dec text-danger" id="cart-final-price">{{ cart.get_final_price }} تومان</span>
                                    </li>
                                    <!--continue-->
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'cart:cart_address' %}" class="address-selection">انتخاب آدرس</a>
                                    {% else %}
                                        <a href="{% url 'account:login' %}" class="address-selection">برای ادامه وارد شوید</a>
                                    {% endif %}
                                </ul>
                            </div>
                            {% else %}
                                <p>سبد خرید شما خالی است.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- content-site -->
    {% include 'partials/footer.html' %}
    <!-- scroll-top -->
    <div class="btn btn-danger scrolltop">
        <i class="fa fa-angle-up"></i>
        <div class="bg-caver-scroll"></div>
    </div>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function (){

        $('.quantity-add').on('click', function () {
            updateQuantity($(this).closest('.cart-item').data('item-id'), 'add');
        });

        $('.quantity-decrease').on('click', function () {
            updateQuantity($(this).closest('.cart-item').data('item-id'), 'decrease');
        });

        $('.quantity-remove').on('click', function () {
            removeItem($(this).closest('.cart-item').data('item-id'));
        });
        function updateQuantity(itemId, action) {
            let quantityInput = $(`#item-quantity-${itemId}`);
            let currentQuantity = parseInt(quantityInput.val()) || 1;
            let newQuantity = action === 'add' ? currentQuantity + 1 : currentQuantity - 1;
            if (newQuantity < 1) {
                alert(" تعداد نمی‌تواند کمتر از ۱ باشد. " +
                 " باید محصول را حذف کنید ");
                return;
            }
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:update_quantity' %}',
                data: {
                    'item_id': itemId,
                    'action': action,
                    'quantity': newQuantity,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log(data)
                    if (data.success){
                        quantityInput.val(data.quantity);
                        {#$('#item_count').text(data.item_count);#}
                        $('#cart-total-price').text(data.total_price + " تومان");
                        $('#item-quantity-' + itemId).text(data.item_count + " عدد");
                        $('#item-quantity-product').text(data.item_count + " عدد");
                        {#$('#item-total-' + itemId).text(data.total + " تومان");#}
                        $('#cart-off-price').text(data.off_price + " تومان")
                        $('#cart-total-after-discount').text(data.final_price + " تومان");
                        $('#cart-final-price').text(data.final_price + " تومان");
                        }
                }
            });
        }
        function removeItem(itemId) {
            $.ajax({
                type: 'POST',
                url: '{% url 'cart:remove_item' %}',
                data: {
                    'item_id': itemId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data.success){
                        $('#item_count').text(data.item_count);
                        $('#cart-total-price').text(data.total_price + " تومان");
                        $('#item-quantity-' + itemId).text(data.quantity + " عدد");
                        $('#item-quantity-product-' + itemId).text(data.quantity + " عدد");
                        $('#cart-off-price').text(data.off_price + " تومان")
                        $('#cart-final-price').text(data.final_price + " تومان");
                        $('#cart-total-after-discount').text(data.final_price + " تومان");
                        $(`.product-item[data-item-id=${itemId}]`).remove();

                    if (data.item_count === 0) {
                        $('.cart-body').html('<p>سبد خرید شما خالی است.</p>');
                    }
                    }
                    setTimeout(function() {
                            alert("محصول از سبد خرید شما حذف شد.");
                                location.reload();
                    }, 300);
                }
            });
        }
    });
</script>
<!-- plugin------------------------------------------------------------->
<script src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/vendor/popper.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/kamadatepicker.min.js' %}"></script>
<script src="{% static 'js/vendor/jgallery.min.js' %}"></script>
<!-- jquery-main-------------------------------------------------------->
<script src="{% static 'js/main.js' %}"></script>
</html>