{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
    <!-- fonts-------------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.css'%}">
    <!-- plugin------------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendor/swiper-bundle.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendor/kamadatepicker.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/vendor/jgallery.min.css'%}">
    <!-- style-main--------------------------------------------------------->
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>
<body>
<!-- content-site -->
<main>
    <div class="container-login page-background">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                <div class="account-box">
                    <div class="logo-account">
                        <img src="{% static 'images/logo.png'%}" alt="superkala" height="48">
                        <div class="my-8 text-caption text-logo">فروشگاه اینترنتی افق کوروش</div>
                    </div>
                    <span class="account-head-line">ثبت نام</span>
                    {% if form.errors %}
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                    {% endif %}
                    <form method="post" action="{% url 'account:register' %}">
                        {% csrf_token %}
                        <div class="content-account register">
                            <div class="account-item user account-item-reg">
                                <label for="user">نام کاربری</label>
                                <input name="first_name" type="text" id="first_name" class="input-user-account" placeholder="" required>
                            </div>

                            <div class="account-item email account-item-reg">
                                <label for="phone">تلفن</label>
                                <input name="phone" type="tel" id="phone" class="input-email-account" placeholder="" maxlength="11" required>
                            </div>

                            <div class="account-item password account-item-reg">
                                <label for="password">رمز عبور</label>
                                <input name="password" type="password" id="password" class="input-password" placeholder="" required>
                            </div>

                            <div class="account-item again-password account-item-reg">
                                <label for="again-password">تکرار رمز عبور</label>
                                <input name="password2" type="password" id="password2" class="input-again-password" placeholder="" required>
                            </div>

                            <button type="submit" class="btn btn-danger btnLogin">ثبت نام</button>
                        </div>
                    </form>

                    <div class="account-footer">
                        <a href="{% url 'account:login' %}" class="btn-link-register">شما درحال حاضر عضو هستید؟</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!-- content-site -->
</body>
<!-- plugin------------------------------------------------------------->
<script src="{% static 'js/vendor/jquery-3.2.1.min.js'%}"></script>
<script src="{% static 'js/vendor/popper.min.js'%}"></script>
<script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>
<script src="{% static 'js/vendor/swiper-bundle.min.js'%}"></script>
<script src="{% static 'js/vendor/kamadatepicker.min.js'%}"></script>
<script src="{% static 'js/vendor/jgallery.min.js'%}"></script>
<!-- jquery-main-------------------------------------------------------->
<script src="{% static 'js/main.js'%}"></script>
</html>